<div class="container">
  <div class="row">
    <div class="home">
      <h1>プロフィール編集画面</h1>
      <div class="text">
        <%= form_with(model: @user, local: true) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
      <div class="text">
      </div>
          <%= f.label :profile %>
          <%= f.text_field :profile %>
        </div>
        <div class="field">
          <%= f.label :profile_image %>
          <%= image_tag(@user.profile_image.url) if @user.profile_image && @user.profile_image.url %>
          <%= f.file_field :profile_image %>
        </div>
        <div class="controll">
          <%= f.submit "変更" %>
          <% end %>
          <%= link_to 'Back', user_path(@user.id) %>
        </div>
    </div>
  </div>
</div>
