<h1><%= @user.name %></h1>

<p>メールアドレス:<%= @user.email %></p>
<p><%= @user.profile %></p>
<p><%= image_tag @user.profile_image_url %></p>
<%= link_to "一覧へ", pictures_path %>

<%= link_to 'Edit', edit_user_path(@user) %>
