<div class="container">
  <div class="row">
    <h1>投稿一覧</h1>

    <table class="home">
      <tbody>
        <% @pictures.each do |picture| %>
        <th>投稿者：<%= picture.user.name %></th>
        <tr>
          <td><%= picture.content %></td>
        </tr>
        <tr>
          <td><%= image_tag(picture.image.url) %></td>
        </tr>
        <tr>
          <td class="controll">
            <%= link_to 'Show', picture %>
            <% if current_user.id == User.find_by(id: picture.user_id).id%>
              /<%= link_to 'Edit', edit_picture_path(picture) %>/<%= link_to 'Destroy', picture, method: :delete, data: { confirm: '本当に消しますか？' } %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="new_button btn-primary btn">
  <%= link_to 'New Picture', new_picture_path, :style=>"color:white;" %>
</div>
