<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
    <th>投稿者：<%= picture.user.name %></th>
    <tr>
      <%= picture.content %>
    </tr>
    <tr>
      <td><%= image_tag(picture.image.url) %>
    </tr>
    <tr>
      <%= link_to 'Show', picture %>/<%= link_to 'Edit', edit_picture_path(picture) %>/<%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
